##################################################
## General
##################################################
/[Ii]con
/[Ll]ibrary
/[Oo]utput
/[Tt]ool
/[Cc]ircuitor/out/*

##################################################
## File extension
##################################################
*.class
*/workspace.xml
